<html lang="en" class="h-100">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="csrf-token" content="{{ csrf_token('app') }}">
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="preload" as="font" type="font/woff2" href="{{ asset('fonts/turbinado-light.woff2') }}" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="{{ asset('fonts/montserrat-regular.woff2') }}" crossorigin>

    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/dist/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}" />

    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('assets/js/vendor/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('js/server-session.js') }}"></script>
    {% block head_javascripts %}{% endblock %}

</head>

<body class="d-flex flex-column h-100">
    {{ include('header/app.html.twig') }}
    {% block children %}{% endblock %}
    {{ include('footer/app.html.twig') }}
    <script src="{{ asset('js/cart.js') }}"></script>
    <script src="{{ asset('js/search.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>
