{% extends 'layouts/app.html.twig' %}

{% block children %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ 'Verify Your Email Address'|trans }}</div>

                <div class="card-body">
                    {% if app.session.flashBag.has('resent') %}
                        <div class="alert alert-success" role="alert">
                            {{ 'A fresh verification link has been sent to your email address.'|trans }}
                        </div>
                    {% endif %}

                    {{ 'Before proceeding, please check your email for a verification link.'|trans }}
                    {{ 'If you did not receive the email'|trans }},
                    <form class="d-inline" method="POST" action="{{ path('verification_resend') }}">
                        {{ csrf_token() }}
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                            {{ 'click here to request another'|trans }}
                        </button>.
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
