{% set home = path('home') %}
{% set admin_ui = path('admin') %}
{% set login = 'Connexion' %}
{% set register = 'Pas encore inscrit ?' %}
{% set logout = 'Déconnexion' %}
{% set isAdmin = is_granted('ROLE_ADMIN') %}

<button type="button" class="btn btn-secondary dropdown-toggle my-2 my-sm-0 ml-3" id="dropdown01" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    {% if not app.user %}
        <i class="fa fa-user-circle"></i>
    {% else %}
        <i class="fa fa-user-circle-o"></i>
    {% endif %}
</button>
<div class="dropdown-menu dropdown-menu-right" aria-labelledby='dropdown01'>
    {% if not app.user %}
        <a class="dropdown-item" href="{{ path('app_login') }}">{{ login }}</a>
        <a class="dropdown-item" href="{{ path('app_register') }}">{{ register }}</a>
    {% else %}
        <a class="dropdown-item" href="{{ path('app_logout') }}"
           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            {{ logout }}
        </a>

        <form id="logout-form" action="{{ path('app_logout') }}" method="POST" class="d-none">
            {{ csrf_token('logout') }}
        </form>
    {% endif %}
    
    {% if not isAdmin %}
        <a class='dropdown-item' href='{{ home }}'>F.A.Q</a>
        <a class='dropdown-item' href='{{ home }}'>Mentions légales</a>
    {% else %}
        <a class='dropdown-item' href='{{ admin_ui }}'>Admin UI</a>
    {% endif %}
</div>
